{% extends "components/dropdown.html" %}

{% block dropdown-btn-class %}generic-button{% endblock %}

{% block dropdown-btn %}
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 344 384">
    <path fill=currentColor d="M42.5 149q17.5 0 30 12.5T85 192t-12.5 30.5t-30 12.5t-30-12.5T0 192t12.5-30.5t30-12.5zm256 0q17.5 0 30 12.5T341 192t-12.5 30.5t-30 12.5t-30-12.5T256 192t12.5-30.5t30-12.5zm-128 0q17.5 0 30 12.5T213 192t-12.5 30.5t-30 12.5t-30-12.5T128 192t12.5-30.5t30-12.5z" />
  </svg>
{% endblock %}

{% block dropdown-content %}
  <button class="note-info-btn">More</button>
  <button class="note-share-btn">Share</button>
  <button class="note-delete-btn">Delete</button>
{% endblock %}
