html, body {
    height: 100%;
    margin: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

header {
    background: var(--paynes-gray);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#nav-left-side > button,
#nav-right-side > button {
    border: none;
    background: none;
    color: var(--snow);
}

#nav-left-side > button > a,
#nav-right-side > button > a {
    text-decoration: none;
    color: var(--snow);
}

#nav-right-side {
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 75px;
    border-radius: 2px;
}

#menu-button {
    align-items: center;
    background: none;
    border: none;
    border-left: 1px solid transparent;
    color: var(--snow);
    cursor: pointer;

    transition: border-left-color 0.3s ease;
}

#menu-button:hover {
    border-left-color: var(--snow);

}

#menu-button > span,
#menu-button > svg {
    display: inline-block;
    transition: transform 0.3s ease;
}

#menu-button:hover > span,
#menu-button:hover > svg {
    transform: translateX(3px);
}

.icon {
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

#menu-button .arrow {
    transition: transform 0.3s ease;
    transform-origin: center;
}

#menu-button:hover .arrow {
    transform: translateX(3px) rotate(0deg);
}

#menu-button[aria-expanded="true"] .arrow {
    transform: translateX(0) rotate(180deg);
}

#menu-button[aria-expanded="true"]:hover .arrow {
    transform: translateX(3px) rotate(180deg);
}

#menu-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    margin: 5px;
    padding: 0;
    top: 100%;
    background: var(--french-gray);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

#menu-list.active {
    opacity: 1;
    visibility: visible;
}

#menu-list li {
    margin: 5px;
}

#menu-list li > a,
#menu-list li > button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 8px;
    gap: 6px;

    color: black;
    background: transparent;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;

    /* <a> style */
    text-decoration: none;

    /* <button> style */
    border: none;
    box-sizing: border-box;
    text-align: left;
}

#menu-list li > a:hover,
#menu-list li > button:hover {
    background-color: var(--snow);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: var(--paynes-gray);
    color: #fff;
    text-align: center;
}