/* Base button style */

.generic-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--eerie-black);
    border-radius: 5px;
    border: 1px solid var(--slate-gray);
    box-shadow: 0 2px 0 var(--french-gray);
    color: var(--french-light-gray);

    transition: transform 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}

.generic-button:hover {
    transform: translateY(2px);
    box-shadow: none;
}