/* Base dropdown style */

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
    width: max-content;
    min-width: 100%;

    list-style: none;
    background: var(--french-gray);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    pointer-events: auto;

    transition: opacity 0.3s ease-in-out;
}

.dropdown-list--open {
    opacity: 1;
    visibility: visible;
}