.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

#notes {
    display: inline-block;
    top: 20;
    left: 20;
    width: 100%;
    background-color: rgba(108, 151, 236, 0.6);
}

.note {
    background-color: aquamarine;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}