:root {
    --snow: rgba(252, 247, 248, 1);
    --french-gray: rgba(206, 211, 220, 1);
    --rose-quartz: rgba(171, 169, 195, 1);
    --denim: rgba(39, 93, 173, 1);
    --paynes-gray: rgba(91, 97, 106, 1);
}