:root {
    --eerie-black: #212529;
    --onyx: #343A40;
    --outer-space: #495057;
    --slate-gray: #6C757D;
    --french-gray: #ADB5BD;
    --french-light-gray: #CED4DA;
    --platinum: #DEE2E6;
    --anti-flash-white: #E9ECEF;
    --seasalt: #F8F9FA;
}