@import "/static/components/modal/modal.css";

/* Info Modal */

.modal__list {
  list-style: none;
  padding: 5px;
  background-color: var(--onyx);
}

.modal__list > li {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  padding: 5px;
  gap: 10px;
}

.list__label {
  padding-left: 10px;
  background-color: var(--outer-space);
  color: var(--platinum);
  border: 1px solid var(--french-light-gray);
  box-shadow: 2px 2px 0px var(--french-gray);
}

.list__key {
  padding-left: 10px;
  background-color: var(--french-light-gray);
  color: var(--eerie-black);
  border: 1px solid var(--eerie-black);
  box-shadow: 2px 2px 0px var(--anti-flash-white);
}

/* Delete Modal */

.modal__button--delete {
  color: var(--auburn);
  border: 1px solid var(--falu-red);
  box-shadow: 0 2px 0 var(--osewood);
}
