/* Share list styles */

.share-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 5px 5px 5px;
}

.share-list__row--header {
  border-bottom: 2px solid var(--seasalt) !important;
}

.share-list__row {
  display: grid;
  grid-template-columns: 3fr 2fr 1.5fr;
  gap: 10px;

  padding: 5px;
  background-color: var(--onyx);
  border: 1px solid var(--slate-gray);
  box-shadow: 2px 2px 0 var(--eerie-black);
  color: var(--seasalt);
}
