/* Base dropdown style */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__button {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.dropdown__content {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 2000;

    width: max-content;
    min-width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    background: white;
}

.dropdown__content:not(.hidden) {
    display: block;
}