{% extends 'base.html' %} {% block title %}Notes - NoteApp{% endblock %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'notes/css/notes.css' %}" />
<script src="{% static 'notes/js/notes.js' %}" type="module"></script>
{% endblock %} {% block content %}
<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Filters -->
    <div class="filters">
      <!-- Filters header -->
      <div class="filters__header">
        <h3>Filters</h3>
        <template id="dropdown-filter-template">
          <div>
            <span>Search by Title/Content:</span><br />
            <input type="text" name="search" title="Note content / author" />
          </div>
          <div>
            <span>Ownership Type:</span>
            <label> <input type="checkbox" name="ownership" value="" />All </label>
            <label> <input type="checkbox" name="ownership" value="private" />Private </label>
            <label> <input type="checkbox" name="ownership" value="with_shares" />Shared by Me </label>
            <label> <input type="checkbox" name="ownership" value="shared" />Shared to Me </label>
          </div>
          <div>
            <span>Role:</span>
            <label> <input type="checkbox" name="role" value="" />All </label>
            <label> <input type="checkbox" name="role" value="viewer" />Viewer </label>
            <label> <input type="checkbox" name="role" value="editor" />Editor </label>
          </div>
        </template>
      </div>
    </div>
    <!-- Notes -->
    <div class="notes" id="notes">
      <!-- Notes header -->
      <div class="notes__header">
        <h3>Notes</h3>
        <button class="generic-button" id="create-button" type="button" title="Create note">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
            <path fill="currentColor" d="M21 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5v2H5v14h14v-5h2z" />
            <path fill="currentColor" d="M21 7h-4V3h-2v4h-4v2h4v4h2V9h4z" />
          </svg>
          <span>Create note</span>
        </button>
      </div>
      <!-- Notes list -->
      <div class="notes__list">
        <!-- Note template -->
        <template id="note-template">
          <div class="note">
            <h3 class="note-title"></h3>
          </div>
        </template>
      </div>
    </div>
  </div>
  <!-- Note panel -->
  <div class="note-panel">
    <div class="note-panel__controls">
      <div class="note-panel__name">
        <input class="note-panel__title" id="note-title" type="text" />
        <button class="generic-button" id="rename-button" type="button" title="Rename note">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="m15 16l-4 4h10v-4zm-2.94-8.81L3 16.25V20h3.75l9.06-9.06zm6.65.85c.39-.39.39-1.04 0-1.41l-2.34-2.34a1.001 1.001 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z"
            />
          </svg>
        </button>
      </div>
      <div class="note-panel__actions">
        <button class="generic-button" id="share-button" type="button" title="Share note" disabled>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1025 1024" fill="currentColor">
            <path
              fill="currentColor"
              d="M896.428 1024h-768q-53 0-90.5-37.5T.428 896V128q0-53 37.5-90.5t90.5-37.5h448v128h-384q-27 0-45.5 19t-18.5 45v640q0 27 18.5 45.5t45.5 18.5h640q27 0 45.5-18.5t18.5-45.5V530l128-107v473q0 53-37.5 90.5t-90.5 37.5zm-200-457q-13 13-34.5 8t-21.5-19V384q-224 0-384 320v-64q0-116 30-204t83-140t121-78t150-26V22q0-14 21.5-19.5t34.5 7.5l314 246q13 13 13 32t-13 33z"
            />
          </svg>
        </button>
        <button class="generic-button" id="delete-button" type="button" title="Delete note" disabled>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-trash-icon lucide-trash"
          >
            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
            <path d="M3 6h18" />
            <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
          </svg>
        </button>
        <button class="generic-button" id="info-button" type="button" title="Note information" disabled>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024">
            <path
              fill="currentColor"
              d="m576 736l-32-.001v-286c0-.336-.096-.656-.096-1.008s.096-.655.096-.991c0-17.664-14.336-32-32-32h-64c-17.664 0-32 14.336-32 32s14.336 32 32 32h32v256h-32c-17.664 0-32 14.336-32 32s14.336 32 32 32h128c17.664 0 32-14.336 32-32s-14.336-32-32-32zm-64-384.001c35.344 0 64-28.656 64-64s-28.656-64-64-64s-64 28.656-64 64s28.656 64 64 64zm0-352c-282.768 0-512 229.232-512 512c0 282.784 229.232 512 512 512c282.784 0 512-229.216 512-512c0-282.768-229.216-512-512-512zm0 961.008c-247.024 0-448-201.984-448-449.01c0-247.024 200.976-448 448-448s448 200.977 448 448s-200.976 449.01-448 449.01z"
            />
          </svg>
        </button>
        <button class="generic-button" id="save-button" type="button" title="Save note" disabled>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 480 496">
            <path
              fill="currentColor"
              d="M69 5Q42 5 23.5 23.5T5 69v342q0 27 18.5 45.5T69 475h342q27 0 45.5-18.5T475 411V170L357 5H69zm150 43v64h42V48h22v85H133V48h86zm-86 384V304h214v128H133zm299-21q0 9-6 15t-15 6h-22V304q0-17-12.5-30T347 261H133q-17 0-29.5 13T91 304v128H69q-9 0-15-6t-6-15V69q0-9 6-15t15-6h22v85q0 18 12.5 30.5T133 176h150q17 0 29.5-12.5T325 133V48h11l96 134v229z"
            />
          </svg>
        </button>
      </div>
    </div>
    <textarea placeholder="Write your note here..."></textarea>
  </div>
</div>
{% endblock %}
