{% extends 'base.html' %}

{% load static %}

{% block title %}Notes - NoteApp{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'notes/css/index.css' %}" />
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Sidebar -->
    {% include "notes/components/sidebar.html" %}
    <!-- Note panel -->
    {% include "notes/components/note-panel.html" %}
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'notes/js/index.js' %}" type="module"></script>
{% endblock %}
