/* Base dropdown style */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.dropdown__btn__text {
  margin-right: 5px;
}

.dropdown__btn__icon {
  width: 10px;
  transform: rotateZ(-90deg);

  transition: transform 0.3s ease;
}

.dropdown__btn[aria-expanded="true"] .dropdown__btn__icon {
  transform: rotateZ(0deg);
}

.dropdown__content {
  position: fixed;
  display: none;
  z-index: 2000;

  width: max-content;
  padding: 4px;

  list-style: none;
  background: var(--seasalt);
}

.dropdown__content:not(.hidden) {
  display: flex;
  flex-direction: column;
}
