<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NoteApp{% endblock %}</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/variables.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/base.js' %}" type="module"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- Header -->
        <header>
            <nav>
                <div id="nav-left-side"></div>
                <div id="nav-right-side"></div>
            </nav>
        </header>

        <!-- Main Content -->
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer>
            <p>2025 NoteApp</p>
        </footer>
    </body>
</html>