<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}NoteApp{% endblock %}
    </title>

    {% load static %}

    {% block styles %}
      <link rel="stylesheet" href="{% static '/css/base.css' %}" />
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <a class="nav-link" href="/">
          <span>NoteApp</span>
        </a>
        <!-- Right side while logged out -->
        <template id="logged-out-template">
          <a class="nav-link" href="/auth/">
            <span>Login</span>
          </a>
        </template>
        <!-- Right side while logged in -->
        <template id="logged-in-template">
          {% include "components/nav-dropdown.html" %}
        </template>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>2025 NoteApp</p>
    </footer>
    {% block scripts %}
      <script src="{% static '/js/base.js' %}" type="module"></script>
    {% endblock %}
  </body>
</html>
