/* Base modal box style */

.modal {
    display: none;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    justify-content: center;
    align-items: center;
}

.modal--open {
    display: flex;
}

.modal__window {
    background: #fff;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}