/* Base modal box style */

.modal {
    display: flex;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    justify-content: center;
    align-items: center;
}

.modal--open {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: #fff;
    width: 400px;
    max-width: 90%;
    position: relative;
}

.modal__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal__footer {
    display: flex;
    justify-content: right;
}